// Sizes
$channel-thumb-height: 36px;
$navbar-height: 56px;
$input-height: 40px;

// Original youtube thumbnails were 120x67, we make it smaller but keep ratio
$playlist-item-thumbnail-height: 60px;
$playlist-item-thumbnail-width: calc($playlist-item-thumbnail-height * 120 / 67);

// Value chosen kinda arbritrarily, but is at least 350px + 2 * right padding + playlist thumbnail width
$max-channel-name-width: calc(100vw - 600px);

// Colors:
$bg-color: rgb(15, 15, 15);
$nav-color: rgb(46, 46, 46);
$muted-text-color: rgb(170, 170, 170);
$border-color: rgba(255, 255, 255, 0.1);
$left-bg-color: rgb(24, 24, 24);
$input-bg: rgb(18, 18, 18);
$input-border-color: rgb(48, 48, 48);
$hover-bg-color: rgb(55, 55, 55);
$link-color: #548aff;
$link-visited-color: #bc8fff;


// Stolen from youtube
body {
    font-family: Roboto, Arial, sans-serif;
    background-color: $bg-color;
    color: white;
    margin: 0;
    padding: 0;
}

// Navbar
nav {
    height: $navbar-height;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: $nav-color;
    z-index: 9999;

    img {
        height: $navbar-height;
        margin: 0 20px;
    }
    
    .logo-link {
        text-decoration: none;
    }

    input[type=text] {
        vertical-align: top;
        margin-top: calc(($navbar-height - $input-height) / 2);
    }
}

// Basic element styling
.muted { color: $muted-text-color; }
.small { font-size: 14px; }

h1, h2, h3, h4, h5 { font-weight: normal; }

a {
    color: $link-color;

    &:visited {
        color: $link-visited-color;
    }
}

hr {
    height: 0;
    border: none;
    border-bottom: 1px solid $border-color;
}

// Stack stuff normally
.container {
    display: flex;
    flex-direction: column;

    .left, .right {
        padding: 24px;
        box-sizing: border-box;
    }

    .right .header > h1 {
        margin-top: 0;
    }

    .left {
        background-color: $left-bg-color;
    }
}

// 2 Column layout on large screens
@media only screen and (min-width: 600px) {
    .container {
        flex-direction: row;

        .left {
            width: 350px;
            height: calc(100vh - $navbar-height);
        }
        .right {
            flex-grow: 1;
            height: calc(100vh - $navbar-height);
            overflow-y: auto;
        }
    }
}

// Specific case since these are side by side
.video-title { margin-bottom: 0; }
.original-video-link { margin-top: 4px; }

// Search input
input[type=text] {
    height: $input-height;
    box-sizing: border-box;
    padding: 6px 6px;

    outline: none;
    background-color: $input-bg;
    border: 1px solid $input-border-color;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: white;
    width: 500px;
    border-radius: 2px;
    max-width: calc(100vw - 200px); // guess

    &:focus {
        border: 1px solid $link-color;
    }
}

// Playlist items
.playlist-item {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    border-bottom: 1px solid $border-color;
    transition: background-color 0.2s;
    cursor: pointer;

    &.removed {
        opacity: 0.4;
    }

    &:hover {
        background-color: $hover-bg-color;
    }

    .text {
        display: inline-block;
        vertical-align: top;
        margin-left: 16px;

        h3 { margin: 0; }

        // Only applies on large screens
        @media only screen and (min-width: 600px) {
            max-width: $max-channel-name-width;
        }
        
        h3, small {
            max-width: calc(100vw - $playlist-item-thumbnail-width - 100px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

// Durations
.duration-wrapper {
    position: relative;

    .duration {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;

        color: white;
        background-color: black;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 4px;
        border-radius: 2px;

        max-width: 90%;
        overflow: hidden;
    }
}

// Thumbnails
.thumbnail-large {
    width: 100%;
}

.thumbnail {
    height: $playlist-item-thumbnail-height;
    width: $playlist-item-thumbnail-width;
    object-fit: contain;
    background: black;
}

.channel-img {
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    width: $channel-thumb-height;
    height: $channel-thumb-height;
    margin-right: 10px;
}

.channel-name {
    vertical-align: top;
    line-height: $channel-thumb-height;
    display: inline-block;

    // Remove link styles
    a {
        color: white ;
        text-decoration: none;
    }
}

// All playlists container
.playlists-container {
    padding: 16px 24px;
    width: 90vw;
}

// Center on large screens
@media only screen and (min-width: 1200px) {
    .playlists-container {
        max-width: calc($max-channel-name-width + $playlist-item-thumbnail-width);
        margin: 0 auto;
    }
}